/* create new stylesheet here */
:root {
    --seafoam: rgb(115,179,191);
    --textcolor: rgb(61,88,117);
    --darktext: rgb(49,51,63);
    --topmargin: 20px;
}

* {
    background-color: rgb(237,237,246)
}

/* nav */

.navigation {
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap; 
    padding: 20px;
    width: 100%;
}

h1 {
    display: inline-block;
    color: var(--textcolor);
    background: transparent;
    font-size: 400%;

}

.navigation div ul li a {
    background: inherit;
    display: flex;
    float: right;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
    color: var(--darktext);
    font-size: larger;
    font-weight: bolder;
    border-style: dotted;
    border-color: var(--seafoam);
}

/* menu */

.menu {
    color: var(--textcolor);
    position: fixed;
    margin: var(--topmargin) 0 0 90px;
    border-right: var(--textcolor);
    width: 100px;
    display: inline-block;
    flex-flow: column;
}

/* main */


.about {
    display: inline-block;
}

.about p {
    margin: var(--topmargin) 0 0 300px;
}

.about img {
    max-width: 10%;
    max-height: 10%;
    margin: var(--topmargin) 0 0 200px;
    float: left;
}

aside {
    border-right: var(--seafoam);

}


/* cards */

.works {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

h2 {

}

.site-name {
    position:fixed;
    margin-left: -5px;
    border-style: solid;
    border-color: var(--seafoam);
    background-color: var(--seafoam);
    border-width: 5px;
    padding: 5px;
    font-weight: bolder;
    color: var(--textcolor);
    margin-top: 50px;
    height: 33px;
}

.site-name a {
    background-color: var(--seafoam);
    color: var(--textcolor);
}

.tiles {

    border-style: solid;
    border-width: 5px;
    border-color: var(--seafoam);
    flex: 0 0 200px;
    margin: var(--topmargin) 0 20px 200px;
    height: 100px;
}

.tiles img {
    width: 100%;
    height: 100%;
}


/* contact */

.contact {

}

.contact a {

}
