/* create new stylesheet here */
:root {
    --seafoam: rgb(115,179,191);
    --textcolor: rgb(61,88,117);
    --darktext: rgb(49,51,63);
}

* {
    background-color: rgb(237,237,246)
}

/* nav */

.header {

}

h1 {

}

.showcase {

}

/* menu */

h2 {

}

/* main */

.about {

}

.about img {
    max-width: 10%;
    max-height: 10%;
}

.left {

}


/* cards */

.works {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.site-name {
    position: relative;
    margin-left: -11px;
    border-style: solid;
    border-color: var(--seafoam);
    background-color: var(--seafoam);
    border-width: 5px;
    padding: 5px;
    font-weight: bolder;
    color: var(--textcolor);
    margin-top: auto;
    height: 1%;
}

.tiles {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 5px;
    border-color: var(--seafoam);
    padding: 10px;
    flex: 0 0 300px;
    margin: 20px auto;
    width: 20%;
    height: 5%;
}

.tiles img {
    max-width: 80%;
    max-height: 5%;
    padding: 5px;
    margin: 5px;
}

/* contact */

.contact {

}

.contact a {

}
